/* common */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 35px;
}


/* header */
.header-top{
    border-bottom: 1px solid lightgray;
    padding: 35px;
}

.header-top > div {
    display: flex;
    justify-content: space-between;
}

.navbar-expand-lg{
    display: block;
    margin-top: 40px;
}

.logo img{
    vertical-align: middle;
}


nav{
    height: 0;
    overflow: hidden;
    transition: height .7s;
}

.navbar-collapse{
    display: none;
}


nav ul{
    list-style-type: none;
}

nav ul > li{
    line-height: 40px;
}

.navbar-toggler{
    border: 0;
    font-size: 2rem;
    background: transparent;
}

@media screen and (min-width: 992px){

    .header-top{
        border: 0;
    }

    .logo img{
        width: 70px;
    }

    .responsive-nav{
        display: none;
    }

    nav{
        height: auto !important;
        overflow: unset;
        transition: none;
    }

    .navbar-expand-lg{
        display: flex !important;
        justify-content: space-between;
        margin-top: 0;
    }

    nav ul > li{
        line-height: normal;
    }

}

.nav-link{
    color: black;
}











/* debug */
/*
.debug .header-top{
    background: red;
}

.debug .logo{
    background: blue;
}

.debug .nav-bar{
    background: yellow;
}

.debug .navbar-expand-lg{
    background: green;
}

.debug .row{
    background: lightsalmon;
}
*/